createdAt: "2019-05-22T03:29:42.296Z"
updatedAt: "2019-05-27T01:54:23.065Z"
type: "MARKDOWN_NOTE"
folder: "8cc975aec2d11a8ac69a"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
