createdAt: "2019-08-01T07:38:38.082Z"
updatedAt: "2020-10-27T13:46:31.305Z"
type: "MARKDOWN_NOTE"
folder: "a829d630b1a42b272c49"
title: "ListView 的使用"
tags: []
content: '''
  ## ListView 的使用 
  
  [我的Android开发之路——ListView的使用 - Polaris丶 - 博客园](https://www.cnblogs.com/jintao-zhong/p/8568764.html)
  
  [Android零基础入门第44节：ListView数据动态更新 - 鑫鱻的博客 - CSDN博客](https://blog.csdn.net/cqkxzsxy/article/details/77528231)
  
  [Android优化系列之ListView优化老生常谈 - 夜の魅 - 博客园](https://www.cnblogs.com/yuhanghzsd/p/5595532.html)
'''
linesHighlighted: []
isStarred: false
isTrashed: true
