createdAt: "2019-09-16T07:48:49.675Z"
updatedAt: "2019-09-25T08:38:06.410Z"
type: "MARKDOWN_NOTE"
folder: "a829d630b1a42b272c49"
title: "Material Design 学习"
tags: []
content: '''
  ### Material Design 学习
  
  [如果你不熟悉Material Design，请一口吃下这篇干货！ - 优设网 - UISDC](https://www.uisdc.com/material-design-knowledge)
  
  [Material Design 实战 之第一弹——Toolbar详解 - 简书](https://www.jianshu.com/p/c8b4a1c41e90)
  
  [Material Design 实战 之第二弹——滑动菜单详解&实战（DrawerLayout & NavigationView） - 简书](https://www.jianshu.com/p/44390a0dd203)
  
  [Material Design 实战 之第三弹—— 悬浮按钮和可交互提示（FloatingActionButton & Snackbar & CoordinatorLayout） - 简书](https://www.jianshu.com/p/6a71d79d8ecb)
  
  [Material Design 实战 之第四弹 —— 卡片布局以及灵动的标题栏（CardView & AppBarLayout） - 简书](https://www.jianshu.com/p/b9604671f6a4)
  
  [Material Design 实战 之第五弹 —— 下拉刷新（SwipeRefreshLayout） - 简书](https://www.jianshu.com/p/00ec0b3c20a2)
  
  [Material Design 实战 之 第六弹 —— 可折叠式标题栏(CollapsingToolbarLayout) & 系统差异型的功能实现（充分利用系统状态栏空间） - 简书](https://www.jianshu.com/p/d27c18df2d51)
  
  
  [Material Design系列教程（1） - Toolbar - 简书](https://www.jianshu.com/p/fdedf09c6619)
  
  [Material Design系列教程（2） - FloatingActionButton - 简书](https://www.jianshu.com/p/f2f210ad4f70)
  
  [Material Design系列教程（3） - Snackbar - 简书](https://www.jianshu.com/p/3581d94535c4)
  
  [Material Design系列教程（4） - CoordinatorLayout - 简书](https://www.jianshu.com/p/be21a824e469)
  
  [Material Design系列教程（5） - NestedScrollView - 简书](https://www.jianshu.com/p/f55abc60a879)
  
  [Material Design系列教程（6） - AppBarLayout - 简书](https://www.jianshu.com/p/5e48fb725e3f)
  
  [Material Design系列教程（7） - CollapsingToolbarLayout - 简书](https://www.jianshu.com/p/a1e775567568)
  
  [Material Design系列教程（8） - TabLayout - 简书](https://www.jianshu.com/p/2042f5bf9122)
  
  [Material Design系列教程（9） - DrawLayout - 简书](https://www.jianshu.com/p/2f05e71769ad)
  
  [Material Design系列教程（10） - NavigationView - 简书](https://www.jianshu.com/p/4ae2c150fe89)
  
  [Material Design系列教程（11） - BottomNavigationView - 简书](https://www.jianshu.com/p/854c458d2f0b)
  
  [Material Design系列教程（12） - CardView - 简书](https://www.jianshu.com/p/2807c38c3927)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
