createdAt: "2019-04-22T09:27:21.225Z"
updatedAt: "2019-04-22T09:27:47.413Z"
type: "MARKDOWN_NOTE"
folder: "a829d630b1a42b272c49"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
