createdAt: "2020-07-30T09:48:00.339Z"
updatedAt: "2020-08-11T03:33:10.161Z"
type: "MARKDOWN_NOTE"
folder: "537068cf3ce988a4b28a"
title: "JavaScript面试题"
tags: []
content: '''
  # JavaScript面试题
  [TOC]
  ## 1. JavaScript有几种类型的值？
  基本数据类型存储在栈中。
  引用数据类型（对象）存储在堆中。
  指针放在栈中。
  
  ## 2.JavaScript 引用引用类型和基本类型的区别
  - 原始数据类型:存储在栈中的简单数据段，占据空间小、大小固定，属于被频繁使用数据，所以放入栈中存储；
  - 引用数据类型:存储在堆中的对象,占据空间大、大小不固定,引用数据类型在栈中存储了指针，该指针指向堆中该实体的起始地址.
  
  ## 3. 堆和栈
  - 栈（stack）：由编译器自动分配释放，存放函数的参数值，局部变量等。
  - 堆（heap）：一般由程序员分配释放，若程序员不释放，程序结束时可能由操作系统释放。
  
  ## 4. Javascript实现继承的几种方式
  
  
  ## 5. Javascript创建对象的几种方式？
  
  
  ## 6.Javascript作用链域
  
  
  ## 7.this的理解
  1) this总是指向函数的直接调用者（而非间接调用者）。
  2) 如果有new关键字，this指向new出来的那个对象。
  3) 在事件中，this指向目标元素，特殊的是IE的attachEvent中的this总是指向全局对象window。
  
  ## 8.window对象，document对象
  window对象代表浏览器中打开的一个窗口。
  document对象代表整个html文档。
  实际上，document对象是window对象的一个属性。
  
  ## 9.null,undefined的区别
  null表示一个对象被定义了，但存放了空指针，转换为数值时为0。
  undefined表示声明的变量未初始化，转换为数值时为NAN。
  
  ## 10.阻止冒泡的方法
  
  
  ## 11.什么是闭包
  闭包指的是一个函数可以访问另一个函数作用域中变量。
  常见的构造方法，是在一个函数内部定义另外一个函数,内部函数可以引用外层的变量；外层变量不会被垃圾回收机制回收。
  
  ## 12.同步和异步的区别
  1. 同步的概念在操作系统中：
  不同进程协同完成某项工作而先后次序调整（通过阻塞、唤醒等方式），同步强调的是顺序性，谁先谁后。异步不存在顺序性。
  2. 同步：
  浏览器访问服务器，用户看到页面刷新，重新发请求，等请求完，页面刷新，新内容出现，用户看到新内容之后进行下一步操作。
  3. 异步：
  浏览器访问服务器请求，用户正常操作，浏览器在后端进行请求。等请求完，页面不刷新，新内容也会出现，用户看到新内容。
  ## 13. documen.write和 innerHTML的区别
  document.write()只能重绘整个页面
  innerHTML可以重绘页面的一部分
  
  ## 14. 响应事件
  onclick鼠标点击某个对象；onfocus获取焦点；onblur失去焦点；onmousedown鼠标被按下
  
  
  ## 参考文献
  [50道JavaScript基础面试题（附答案） - 个人文章 - SegmentFault 思否](https://segmentfault.com/a/1190000015288700)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
