createdAt: "2019-10-18T07:38:34.077Z"
updatedAt: "2019-10-18T07:39:19.054Z"
type: "MARKDOWN_NOTE"
folder: "537068cf3ce988a4b28a"
title: "文献"
tags: []
content: '''
  ## 文献
  
  [史上最全的Android面试题集锦 - 掘金](https://juejin.im/post/5d2eea56f265da1b7004df0d)
  
  [GitHub - Snailclimb/JavaGuide: 【Java学习+面试指南】 一份涵盖大部分Java程序员所需要掌握的核心知识。](https://github.com/Snailclimb/JavaGuide?utm_source=gold_browser_extension)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
