createdAt: "2022-01-27T02:50:03.738Z"
updatedAt: "2022-01-27T02:50:55.830Z"
type: "MARKDOWN_NOTE"
folder: "d93d185dcf894dbad7b3"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
