createdAt: "2019-09-20T08:59:04.127Z"
updatedAt: "2020-10-17T08:21:40.774Z"
type: "MARKDOWN_NOTE"
folder: "a829d630b1a42b272c49"
title: ""
tags: []
content: " "
linesHighlighted: []
isStarred: false
isTrashed: true
