createdAt: "2019-03-30T08:03:53.468Z"
updatedAt: "2019-03-30T08:15:19.842Z"
type: "MARKDOWN_NOTE"
folder: "91596d517848033ae924"
title: "多态的实现方式"
tags: []
content: '''
  ## 多态的实现方式
  
  ## 方式一：重写
  
  ## 方式二：接口
  
  ## 方式三：抽象类和抽象方法
  
  [Java 多态 \\| 菜鸟教程](http://www.runoob.com/java/java-polymorphism.html)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
