createdAt: "2019-08-06T10:10:10.794Z"
updatedAt: "2019-08-08T08:05:54.244Z"
type: "MARKDOWN_NOTE"
folder: "a829d630b1a42b272c49"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
