createdAt: "2019-08-05T10:10:04.825Z"
updatedAt: "2019-08-05T10:10:12.680Z"
type: "MARKDOWN_NOTE"
folder: "a829d630b1a42b272c49"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
