createdAt: "2019-10-10T08:36:22.057Z"
updatedAt: "2019-10-10T08:37:29.770Z"
type: "MARKDOWN_NOTE"
folder: "a829d630b1a42b272c49"
title: "ViewPage与tablayout 全面总结"
tags: []
content: '''
  ### ViewPage与tablayout 全面总结
  
  [ViewPager 全面总结](https://blog.csdn.net/weixin_39251617/article/details/79399592#4__712)
  
  [TabLayout 全面总结](https://blog.csdn.net/weixin_39251617/article/details/79032641#Tab_118)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
