createdAt: "2019-06-24T09:31:47.307Z"
updatedAt: "2019-06-24T09:31:55.541Z"
type: "MARKDOWN_NOTE"
folder: "388e3f13721664ffa193"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
