createdAt: "2022-12-03T07:26:43.495Z"
updatedAt: "2022-12-03T07:26:51.334Z"
type: "MARKDOWN_NOTE"
folder: "bfd1eca2e356e7181dfa"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
