createdAt: "2023-01-08T15:07:09.915Z"
updatedAt: "2023-05-06T09:54:27.466Z"
type: "MARKDOWN_NOTE"
folder: "c3bf24344ddc9bd2af22"
title: "ActivityManagerService"
tags: []
content: '''
  # ActivityManagerService
  
  ## 1.什么是ActivityManagerService
  ActivityManagerService承担了Android四大组件的启动、切换、调度以及进程的管理工作，是Android中最核心的服务。
  ![f28b35a4.png](:storage\\ac9f3a24-f52f-44fa-8b3e-bb589e4dd4f0\\f28b35a4.png)
  
  ## 2.AMS关联类
  - ActivityManager：主要对运行中的Activity进行管理。管理工作实际并不是由ActivityManager来处理的，而是交由AMS来处理的。
  - ActivityManagerNative ：简称AMN。是一个抽象类，其功能由他的子类AMS处理。其getDefault方法可得到ActivityManagerProxy（简称AMP）。ActivityManager通过AMP与AMN通信。
  - ActivityManagerProxy：AMN的内部类、AMS的代理类。
  - ActivityManagerService：系统服务，运行在SystemSever进程。AMS作为系统服务，很多API是不会暴露给ActivityManager的。
  
  ![1a871cc1.png](:storage\\ac9f3a24-f52f-44fa-8b3e-bb589e4dd4f0\\1a871cc1.png)
  
  1. AMS由ActivityManagerNative（以后简称AMN）类派生，而AMN由Binder派生，实现了IActivityManager接口。
  2. AMP是AMN的内部类，它们都实现了IActivityManager接口，这样它们就可以实现代理模式。具体来讲是远程代理。
  3. AMP和AMN是运行在两个进程中的，AMP是Client端，AMN则是Server端，而Server端中具体的功能都是由AMN的子类AMS来实现的，因此，AMP就是AMS在Client端的代理类。
  4. AMP和AMS可以通过Binder来进行进程间通信。
  5. 客户端使用ActivityManager类。在ActivityManager类内部通过调用AMN的getDefault函数得到一个ActivityManagerProxy对象，通过它可与AMS通信。
  
  ## 3.AMS启动过程
  AMS的启动是在SystemServer进程中启动的。即AMS运行在SystemServer进程。
  在SystemServer中需要启动的服务有三种：
  - 引导服务(BootstrapServices),主要开启了ActivityManagerService、PowerManagerService、PackageManagerService等服
  - 核心服务(CoreServices),主要开启了DropBoxManagerService、BatteryService、UsageStatsService和WebViewUpdateService等服务
  - 其他服务(OtherServices),主要启动了CameraService、AlarmManagerService、VrManagerService等服务。
  ```
  public final class SystemServer {
      //zygote的主入口
      public static void main(String[] args) {
          new SystemServer().run();
      }
      public SystemServer() {
          // Check for factory test mode.
          mFactoryTestMode = FactoryTest.getMode();
      }
      private void run() {
          ......
          //加载本地系统服务库，并进行初始化
          System.loadLibrary("android_servers");
          nativeInit();
          // 1、创建系统上下文
          createSystemContext();
          //初始化SystemServiceManager对象，下面的系统服务开启都需要调用SystemServiceManager.startService(Class<T>)，这个方法通过反射来启动对应的服务
          mSystemServiceManager = new SystemServiceManager(mSystemContext);
          //开启服务
          try {
              startBootstrapServices();
              startCoreServices();
              startOtherServices();
          } catch (Throwable ex) {
              Slog.e("System", "******************************************");
              Slog.e("System", "************ Failure starting system services", ex);
              throw ex;
          }
          ......
      }
      /*初始化系统上下文对象mSystemContext，并设置默认的主题,mSystemContext实际上是一个ContextImpl对象。
      *调用ActivityThread.systemMain()的时候，会调用ActivityThread.attach(true)，而在attach()里面，则创建了Application对象，
      *并调用了Application.onCreate()。
      */
      private void createSystemContext() {
          ActivityThread activityThread = ActivityThread.systemMain();
          mSystemContext = activityThread.getSystemContext();
          mSystemContext.setTheme(android.R.style.Theme_DeviceDefault_Light_DarkActionBar);
      }
      //在这里开启了几个核心的服务，因为这些服务之间相互依赖，所以都放在了这个方法里面。
      private void startBootstrapServices() {
          ......
          //初始化ActivityManagerService
          mActivityManagerService = mSystemServiceManager.startService(
                  ActivityManagerService.Lifecycle.class).getService();
          mActivityManagerService.setSystemServiceManager(mSystemServiceManager);
          //初始化PowerManagerService，因为其他服务需要依赖这个Service，因此需要尽快的初始化
          mPowerManagerService = mSystemServiceManager.startService(PowerManagerService.class);
          // 初始化DisplayManagerService
          mDisplayManagerService = mSystemServiceManager.startService(DisplayManagerService.class);
          // 2、systemServer进程加载到AMS中，并被它管理
          mActivityManagerService.setSystemProcess();
          ......
      }
      private void startOtherServices() {
          // 3、将SettingProvider放到SystemServer进程中来运行
          mActivityManagerService.installSystemProviders();
          // 4、AMS是系统的核心服务，只有它准备好了，才能调用其他服务的SystemReady
          mActivityManagerService.systemReady(new Runnable() {
              @Override
              public void run() {
                  try {
                      startSystemUi(context); // 启动systemUi，如此，状态栏就准备好了
                  } catch (Throwable e) {
                      reportWtf("starting System UI", e);
                  }
                  Watchdog.getInstance().start(); // 启动watchdog
              }
          });
      }
  }
  
  
  public static ActivityThread systemMain() {
      if (!ActivityManager.isHighEndGfx()) {
        HardwareRenderer.disable(true); // 禁止硬件加速
      } else {
        HardwareRenderer.enableForegroundTrimming();
      }
      // 创建一个ActivityThread对象
      ActivityThread thread = new ActivityThread();
      thread.attach(true); // 调用attach函数，参数为true
      return thread;
  }
  
  private void attach(boolean system) {
          sCurrentActivityThread = this;
          mSystemThread = system; // 判断是否为系统进程
          if (!system) { // 应用进程的处理流程
              ......
          } else { //系统进程的处理流程，该情况只在systemServer中处理
              // 设置DDMS时看到的systemserver进程名
              android.ddm.DdmHandleAppName.setAppName("system_process",
                      UserHandle.myUserId());
              try {
                  // Instrumentation类出现了
                  mInstrumentation = new Instrumentation();
                  // 初始化context，注意参数getSystemContext().mPackageInfo
                  ContextImpl context = ContextImpl.createAppContext(
                          this, getSystemContext().mPackageInfo);
                  //makeApplication 方法中创建Application对象，一个进程支持多个Application
                  // mInitialApplication用于保存Application对象
                  mInitialApplication = context.mPackageInfo.makeApplication(true, null);
                  mInitialApplication.onCreate(); //调用Application的Oncreate()
              } catch (Exception e) {
                  throw new RuntimeException(
                          "Unable to instantiate Application():" + e.toString(), e);
              }
          }
          // 注册Configuration变化时的回调通知
          ViewRootImpl.addConfigCallback(new ComponentCallbacks2() {
              @Override
              public void onConfigurationChanged(Configuration newConfig) {
              }
              @Override
              public void onLowMemory() {}
              @Override
              public void onTrimMemory(int level) {}
          });
      }
  ```
  ### 3.1 Attach中出现的重要成员类
  1. Instrumentrain
  Instrumentrain 是一个工具类，当他被启用时，系统先创建他，再通过他来创建其他组件。另外，系统和组件之间的交互也是通过Instrumentrain来传递，这样，Instrumentrain就能检测系统和这些组件的交互情况，在实际使用中，我们可以创建Instrumentrain的派生类来进行相应的处理。
  
  2. Application类
  - Application类保存了一个全局的application状态，Application由AndroidManifest.xml中的标签声明；
  - 在实际使用中需定义Application派生类；
  - Application是Android中的一个概念，可以理解为一种容器，其内部包含四大组件，一个进程可以运行多个Application
  
  3. Context类
  Context是一个接口，通过他可以获取并操作Application对应的资源、类，甚至包含于Application中的四大组件
  ![1111.png](:storage\\ac9f3a24-f52f-44fa-8b3e-bb589e4dd4f0\\aa1ee246.png)
  
  ### 3.2 zygote，SystemServer，AMS，ActivityThread 的关系
  1. App(ActivityThread进程)和AMS(SystemServer进程)还有zygote进程属于三个独立的进程。
  2. App与AMS通过Binder进行IPC通信，AMS与zygote通过Socket进行IPC通信。
  3. AMS负责所有Activity的生命周期，若想打开一个App的话，需要AMS和ActivityThread相互配合来完成。
  
  ## 4 Activity 启动流程
  
  ![a06cf9cf.png](:storage\\ac9f3a24-f52f-44fa-8b3e-bb589e4dd4f0\\a06cf9cf.png)
  
  一. Launcher通过ActivityManagerProxy,用Binder进程间通信，通知ActivityManagerService,它要启动一个Activity。(1~11)
  
  二. ActivityManagerService调用startActivity,并经过ActivityStack一系列调用处理后，通过Binder通信,通知Launcher让其它Activity进入Paused状态。(12~16)
  
  三. Launcher再通过ActivityManagerProxy,用Binder通信,通知ActivityManagerService，它已经准备进入Paused状态，于是ActivityManagerService就向zygote发送命令用来fork一个子进程，用来启动一个ActivityThread实例，即将要启动的Activity在这个ActivityThread实例中运行。(17~24)
  
  四. ActivityThread通过Binder进程间通信机制将一个ApplicationThread类型的Binder对象传递给ActivityManagerService,以便ActivityManagerService能够通过这个Binder对象与ActivityThread通信。(25~27)
  
  五. ActivityManagerService通过Binder进程间通信，通知ActivityThread，现在一切准备就绪，可以执行onCreate方法启动Activity了。(28~35)
  
  ### 4.1 Zygote fork一个Launcher进程的阶段
  ![d53cb82a.png](:storage\\ac9f3a24-f52f-44fa-8b3e-bb589e4dd4f0\\d53cb82a.png)
  1. AMS属于SystemServer进程，AMS通过StartProgressLock向zygote发送一个socket。
  2. 这时Zygote无限循环状态，一直在等待Socket请求，收到发来新的Socket请求后，执行processOneCommend方法开始fork一个新进程。
  4. fork过程中，首先停止4个Daemon子进程，等待所有子线程结束，通过JNI开始堆的初始化工作。最终调用JNI中nativeForkAndSpecialize，调用系统fork方法，孵化新的进程。
  6. fork成功后，首先设置子进程的signal，执行handleChildProc进入子进程中处理。
  7. 并执行ActivityThread中的main方法。
  
  
  ## 5 BroadCast 广播机制分析
  
  ### 5.1 概述
  接收方式分为两类：
  - 静态广播接收者：通过AndroidManifest.xml的标签来申明的BroadcastReceiver。
  - 动态广播接收者：通过AMS.registerReceiver()方式注册的BroadcastReceiver，动态注册更为灵活，可在不需要时通过unregisterReceiver()取消注册。
  
  发送方式可分为三类：
  - 普通广播：通过Context.sendBroadcast()发送，可并行处理
  - 有序广播：通过Context.sendOrderedBroadcast()发送，串行处理
  - Sticky广播：通过Context.sendStickyBroadcast()发送
  
  注册广播：
  - 就是在AndroidManifest文件中注册广播接收器相关信息(BroadcastReceiver和intent-filter)，然后在应用安装的时候通过PKMS(PackageManagerService)进行解析，来完成注册。
  - 把BroadcastReceiver包装成一个Binder对象，然后创建一个包含BroadcastReceiver和IntentFilter的BroadcastFilter对象，最后将BroadcastFilter对象加入到AMS中的mReceiverResolver变量中
  
  ### 5.2 注册广播流程
  - Activity/Service中调用registerReceiver()方法，最终调用ContextImpl的registerReceiverInternal方法。
  - registerReceiverInternal调用LoadedApk的方法，将广播接收者封装成一个实现了IIntentReceiver接口的Binder对象,即ReceiverDispatcher。
  - 获取AMP代理类对象，通过Binder通信，调用AMS的registerReceiverWithFeature方法将ReceiverDispatcher，传递给ActivityManagerService，用于广播的跨进程通信。
  - registerReceiverWithFeature方法中，将用来描述注册的广播接收者BroadcastFilter 添加到mReceiverResolver中。
  - 当AMS接收到广播时就可以从mReceiverResolver中找到对应的广播接收者了。
  
  ### 5.2.3 广播发送和处理
  ![99d6d204.png](:storage\\ac9f3a24-f52f-44fa-8b3e-bb589e4dd4f0\\99d6d204.png)
  
  1. 广播发送者，Activity或Service，将一个特定类型的广播发送给AMS
  2. AMS接收到一个广播后，首先找到与这个广播对应的广播接收者，其次将它们添加到一个广播调度队列中.最后AMS向所在线程消息队列发送一个BROADCAST_INTENT_MSG消息。
  3. 至此对广播发送者来说，一个广播就发送完了。
  4. 在AMS运行的线程消息队列处理发送的BROADCAST_INTENT_MSG消息时，AMS会从广播调度队列中找到广播接受者。并将广播发送给对应的应用进程。
  5. 当应用程序收到AMS的广播后，首先将广播封装成一个消息，然后发送到主线程消息队列中。当消息被处理时，应用程序才会将被封装的广播发送到广播接受者处理。
  
  ## 6 startService启动过程
  ![4b0b6a91.png](:storage\\ac9f3a24-f52f-44fa-8b3e-bb589e4dd4f0\\4b0b6a91.png)
  
  启动流程:
  1. Activity中的startService实际由ContextImpI中startService开始发起,利用Binder通信，通过AMP向AMS发起startService请求。
  2. AMS收到请求后，经由ActiveService一系列的处理后，向zygote发送请求fork出子进程ActivityThread.
  3. ActivityThread 利用Binder通信，通过AMP调用AMS中attachApplicationLocked方法进行准备工作。
  4. AMS再利用Binder通信，向ActivityThread调用scheduleCreateService方法,通过handler发送CREATE_SERVICE消息，创建Service，并启动Service.OnCreadte方法。
  
  ## 7. ANR时系统的处理过程
  - 当 ANR 发生时，系统会调用appNotResponding方法。
  - 将ANR相关信息通过拼接字符串的形式，记录到EventLog中。
  - 获取重要进程（Java进程,Native进程）的trace信息，保存到/data/anr/traces.txt
  - 将ANR reason和CPU使用情况，输出到MainLog
  - 将traces文件和CPU使用情况信息，保存到/data/system/dropbox
  - 如果是后台ANR，直接杀进程,否则弹框告知用户。
  
  
  ## 文献
  [Android-MS/ams.md at master · xiangjiana/Android-MS · GitHub](https://github.com/xiangjiana/Android-MS/blob/master/android/ams.md)
  [安卓的ActivityManagerService_dev晴天的博客-CSDN博客_activitymanagerservice](https://blog.csdn.net/qq_38350635/article/details/114785334)
  [Android 8.0 AMS分析的第一条线：SystemServer中的AMS的调用轨迹_yaoming168的博客-CSDN博客_systemserver进程和ams的关系](https://blog.csdn.net/yaoming168/article/details/51991570)
  [Android Activity的启动流程分析：以Launcher启动一个Activity为例，分析应用进程的创建、Activity的启动，以及他们和AMS之间的交互_yaoming168的博客-CSDN博客](https://blog.csdn.net/yaoming168/article/details/52402963)
  [Android10.0系统启动之Launcher(桌面)启动流程-[Android取经之路]_安卓10桌面启动失败_IngresGe的博客-CSDN博客](https://blog.csdn.net/yiranfeng/article/details/103752203)
  [Android10.0应用进程创建过程以及Zygote的fork流程-[Android取经之路]_IngresGe的博客-CSDN博客](https://blog.csdn.net/yiranfeng/article/details/103812553)
  
  
  [Android Broadcast广播机制分析 - Gityuan博客 \\| 袁辉辉的技术博客](http://gityuan.com/2016/06/04/broadcast-receiver/)
  [Android S动态广播注册流程(广播1)_android 动态注册广播_yun_hen的博客-CSDN博客](https://blog.csdn.net/yun_hen/article/details/124415431)
  [Android 11 广播的注册、发送和接收流程分析_安卓11 广播mwipeesims_guojingbu的博客-CSDN博客](https://blog.csdn.net/guojingbu/article/details/117627348)
  [Android 9.0系统源码_广播（一）广播的注册_android判断广播是否注册_AFinalStone的博客-CSDN博客](https://blog.csdn.net/abc6368765/article/details/125573433)
  [Android学习笔记 - 广播的注册与接收_android 注册广播_HaveFun_Wine的博客-CSDN博客](https://blog.csdn.net/HaveFun_Wine/article/details/128471652)
  [Android 9.0系统源码_广播（三）广播的发送_安卓 蓝牙 schedulebroadcastslocked_AFinalStone的博客-CSDN博客](https://blog.csdn.net/abc6368765/article/details/125616114)
  
  [startService启动过程分析 - Gityuan博客 \\| 袁辉辉的技术博客](http://gityuan.com/2016/03/06/start-service/)
  [Android activity启动流程分析 - 简书](https://www.jianshu.com/p/52276d5a979c)
  [详解ActivityManagerService的启动流程 - 知乎](https://zhuanlan.zhihu.com/p/158808726?utm_id=0)
  [Activity启动流程分析 - 简书](https://www.jianshu.com/p/93aa9330f477)
  [startService源码主要流程解析_activeservices realstartservicelocked startservice_tinyvampirepudge的博客-CSDN博客](https://blog.csdn.net/qq_26287435/article/details/104905607)
  
  [理解Android ANR的信息收集过程 - Gityuan博客 \\| 袁辉辉的技术博客](http://gityuan.com/2016/12/02/app-not-response/)
  [[ANR] 发生ANR后的信息采集过程 - 简书](https://www.jianshu.com/p/f69023197044)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
