createdAt: "2023-01-08T15:07:09.915Z"
updatedAt: "2023-01-08T15:07:31.627Z"
type: "MARKDOWN_NOTE"
folder: "c3bf24344ddc9bd2af22"
title: "ActivityManagerService"
tags: []
content: "# ActivityManagerService"
linesHighlighted: []
isStarred: false
isTrashed: false
