createdAt: "2019-03-30T08:05:43.131Z"
updatedAt: "2019-03-30T08:05:50.126Z"
type: "MARKDOWN_NOTE"
folder: "91596d517848033ae924"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
