createdAt: "2019-03-25T11:56:12.566Z"
updatedAt: "2019-03-25T11:57:53.663Z"
type: "MARKDOWN_NOTE"
folder: "d93d185dcf894dbad7b3"
title: "productFlavors {"
tags: []
content: '''
  productFlavors {
          multi_sec_high {
              buildConfigField 'String', 'TRANSPORT', '"MULTI"'
              buildConfigField 'String', 'SECURITY', '"HIGH"'
          }
          multi_sec_med {
              buildConfigField 'String', 'TRANSPORT', '"MULTI"'
              buildConfigField 'String', 'SECURITY', '"MED"'
          }
          multi_sec_low {
              buildConfigField 'String', 'TRANSPORT', '"MULTI"'
              buildConfigField 'String', 'SECURITY', '"LOW"'
          }
          multi_sec_off {
              buildConfigField 'String', 'TRANSPORT', '"MULTI"'
              buildConfigField 'String', 'SECURITY', '"OFF"'
          }
          multi_high_bandwidth {
              buildConfigField 'String', 'TRANSPORT', '"MULTI_HB"'
              buildConfigField 'String', 'SECURITY', '"OFF"'
          }
          tcp {
              buildConfigField 'String', 'TRANSPORT', '"TCP"'
              buildConfigField 'String', 'SECURITY', '"OFF"'
          }
      }
      
  
'''
linesHighlighted: []
isStarred: false
isTrashed: true
