createdAt: "2019-09-27T10:12:54.029Z"
updatedAt: "2020-08-08T13:20:02.305Z"
type: "MARKDOWN_NOTE"
folder: "537068cf3ce988a4b28a"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
