createdAt: "2019-09-04T08:57:50.957Z"
updatedAt: "2019-09-04T08:57:56.378Z"
type: "MARKDOWN_NOTE"
folder: "8b201a0d43bb3b317af3"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
