createdAt: "2023-04-02T15:28:31.959Z"
updatedAt: "2023-04-25T16:11:30.920Z"
type: "MARKDOWN_NOTE"
folder: "537068cf3ce988a4b28a"
title: "清单"
tags: []
content: '''
  # 清单
  
  ## 自我介绍
  我先自我介绍一下，19年2月份毕业参加工作，一直从事Android相关开发工作。目前有4年Android开发经验
  第一份工作是在上海商泰汽车，担任Android开发工程师，主要围绕IVI车载信息娱乐系统开发，
  第一年参与MirrorLink与SDL框架下用于手机与车载机互联几款应用程序。
  第二年参与Android Framework的开发工作，自定义中间件Service模块，负责CTS测试与分析等工作。
  之后由于疫情公司发展不景气导致整个部门被裁员。
  
  第二份工作是在苏州科达上海研发中心，担任移动终端开发工程师，主要围绕直播，云会议等应用程序或SDK开发。
  第一年参与轨道交通通信系统的应用开发和基础音视频SDK的开发，同时也参与IOS应用程和SDK的开发。
  第二年至今参与终端一体机定制应用开发和云会议SDK的开发。
  
  ## JAVA 
  - Byte和位Bit的关系
  - String,StringBuffer,StringBuilder的区别
  - final,finally和finalize区别 
  - ==和equals有什么区别?equals和hashCode有什么联系
  - Array和ArrayList的区别
  - 什么是面向对象
  - 什么是面向过
  - 简述面向对象的特性
  - 列举Object类的方法
  - 接口和抽象类有什么区别
  - 内部类与外部类的关系
  - 静态内部类与非静态内部类区别
  - 匿名内部类
  - 异常有哪些分类？出现的原因是什么？
  - 有哪些异常处理方式?
  - 简述一下集合主要有哪些类和接口，各自有什么特点
  - Collection和Collections有什么区别 
  - List和Set比较
  - List,Set,Map有什么区别？
  - HashMap的特点
  - HashMap的实现方式
  - HashMap的哈希冲突
  - HashMap的哈希冲突解决
  - 负载因子为什么是0.75
  - HashMap为什么不安全？
  - ConcurrentHashMap的特点
  - 迭代器是什么?
  - 有哪些线程安全的集合类？
  - 创建线程有哪几种实现方式？分别有什么优缺点？
  - 线程有哪些状态
  - 什么是线程安全问题，如何解决
  - 使用volatile的背景
  - volatile的特性
  - 说一说synchronized关键字的作用
  - Lock接口有哪些方法
  - 线程池是什么
  - 为什么需要线程池
  - 创建线程池的方法有哪些
  - CAS的概念
  - 为什么使用CAS
  - CAS有什么问题
  - 什么是ABA
  - 如何解决ABA问题
  - 讲一讲wait、sleep、yield、join方法的区别
  - wait，sleep的区别
  - 进程和线程有什么区别
  - Java 内存区域
  - Java内存模型
  - JMM存在的必要性
  - JMM的三个特征
  - JVM中类加载的过程
  - 加载，链接，初始化
  - 初始化顺序
  - 类加载器的分类
  - 类加载器的代理模式-双亲委托机制
  - java对象引用
  - 浅复制和深复制的区别
  - 反射与注解
  
  ## Android 
  - Application中五个公开的方法
  - Android中什么是Context
  - Service
  - Service - 扩展Binder类
  - 关于启动服务与绑定服务间的转换问题
  - 服务Service与线程Thread的区别
  - Activity与Fragment生命周期
  - Activity生命周期
  - 锁定屏与解锁屏幕时Activity生命周期
  - 两个Activity之间切换
  - 保存与恢复 onSaveInstanceState() onRestoreInstanceState()
  - Activity 启动模式
  - Task任务栈
  - Android横竖瓶切换Activity生命周期 
  - Android - 系统启动过程
  - Android中实现IPC通信的8种方式
  - 序列化与反序列化的知识
  - AIDL 知识
  - AIDL概述
  - 使用AIDL的步骤 
  - AIDL的工作原理
  - 客户端与服务端使用AIDL进行 IPC 的工作流程
  - AIDL与HIDL 区别
  - Binder概述
  - 进程隔离的概念
  - Binder驱动概念
  - 一次Binder IPC通信过程
  - 冷启动与热启动
  - Handler,MessageQueue与Looper关系
  - Handler工作流程
  - OOM内存泄漏 案列分析
  - 内存泄漏和内存溢出的区别
  - 发生ANR的具体表现
  - 导致ANR的场景
  - ANR日志分析
  - ANR其它分析方式
  - ANR的处理
  - 什么是注解
  - 注解与注释的区别
  - dimen 基于dp的适配（smallestWidth适配）
  - 自定义View的分类
  - 自定义View的主要方法
  - Android 一共有多少种动画
  - 什么是MVVM
  - MVVM核心构成
  - JNI概述
  - JNI原理分析
  - 动态库的加载loadLibrary
  - 静态注册与动态注册
  - JavaVM和JNIEnv
  - JNI加载过程
  - 稳定——内存优化
  - 流畅——卡顿优化
  - 安装包——APK瘦身
  - 启动优化 
  - 崩溃与ANR的区别
  - Java 崩溃处理
  - Navite 崩溃处理
  - Window PhoneWindow DecorView 的关系
  - 事件分发，拦截，消费
  - View 事件相关的各个方法调用顺序
  - ViewGroup 中子View重叠时如何分配
  
  ## Android Framework
  - 什么是ActivityManagerService
  - AMS关联类
  - AMS启动过程
  - zygote，SystemServer，AMS，ActivityThread 的关系
  - Activity 启动流程
  - startService启动过程
  - 注册广播流程
  - 广播发送和处理
  - ANR时系统的处理过程
  - UI面是怎么显示到屏幕上的？
  - 什么是Surface
  - SurfaceFlinger 概述
  - SurfaceFlinger 的启动
  - SurfaceFlinger 消息队列处理机制
  - 初始化DBMS
  - DBMS 三个主要方法
  - WMS的概述
  - 窗口可创建数
  - Window、WindowManager、WMS 关系
  - WMS启动过程
  - WMS添加一个窗口
  - WMS删除一个窗口
  
  ## 项目中遇到的问题：
  1. 沟通问题
  遇到不清楚的需求，及时主动了解其内容表述。以免耽误进度。
  遇到向别人解释其功能含义时，尽量以时序图或流程图说明和表述。
  遇到BUG或不可抗力问题时，及时反馈。并记录流转过程。
  2. 优先级问题
  在遇到工作安排时，一定要问清优先顺序，以免耽误，
  若同时开展多个工作时，一定要向领导请示，优先程度。
  若同时解决多个BUG时，优先解决问题严重BUG。
  3. 技术问题
  遇到技术瓶颈，及时向同事或领导，寻求帮助。以免耽误进度。
  在技术问题处理之后，用时序图或流程图记录处理方案。
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
