createdAt: "2019-08-02T07:49:12.791Z"
updatedAt: "2019-08-05T07:18:03.624Z"
type: "MARKDOWN_NOTE"
folder: "a829d630b1a42b272c49"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
